<?xml version="1.0"?>
<!--
/**
 * @category   Exanto
 * @package    Exanto_Reclayup
 * @author     Ingo Weseloh <it@exanto.de>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Exanto_Reclayup>
            <version>0.1.0</version>
        </Exanto_Reclayup>
    </modules>
    <global>
        <models>
            <exanto_reclayup>
                <class>Exanto_Reclayup_Model</class>
            </exanto_reclayup>
            <catalog>
                <rewrite>
                    <category>Exanto_Reclayup_Model_Category</category>
                    <product>Exanto_Reclayup_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>